*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: aquamarine;
}


body{
    width: 100%;
}

/* table-contant */

table{
    margin-left: 10%;
    top: -5%;
}

td{
    border: 1px solid black;
    padding: 16px 77px;
    
}

thead #id{
    background-color: red;
}
thead #name{
    background-color: green;
}
thead #addres{
    background-color: purple;
}

/* border-size */

.one{

    border: 1px solid black;
    padding: 5px 77px;

}
.two{

    border: 1px solid black;
    padding: 16px 77px;

}
.three{

    border: 1px solid black;
    padding: 5px 77px;

}
.four{

    border: 1px solid black;
    padding: 16px 77px;

}
.five{

    border: 1px solid black;
    padding: 16px 77px;

}
.six{

    border: 1px solid black;
    padding: 5px 77px;

}

/*background-color*/

tbody tr .one:first-child{
    background-color: white;
}
tbody tr .a{
    background-color: white;
}
tbody tr .three:last-child{
    background-color: white;
}
tbody tr .a{
    background-color: white;
}
tbody tr .five:first-child{
    background-color: white;
}
tbody tr .six:last-child{
    background-color: white;
}


